// Sass Variables 
$primary-color: #9b009b;
$theme-color: #9298CC;
$word-color: white;
$hover-word-color: orange;
$hover-background-color: black;
$header-font-variant: small-caps;
$text-shadow-color: #2772B0;

// Sass Commonly Used Measurement Variables
$border-radius: 0.5rem;
$standard-spacing-1: 0.2em;
$standard-spacing-2: 0.5em;
$standard-paragraph-line-size: 1.5;
$standard-shadow: 0.313em;